* {
    margin: 0;
    padding: 0;
}

button {
    background-color: azure;
    width: 50%;
    padding-top: -12px;
    height: 2em;
    font-family: 'Space Mono', monospace;
    font-size: 18pt;
    border: solid 3pt black;
    color: black;
    box-shadow: 10px 10px;
}

button:hover {
    background-color: rgba(141,112,58, .75);
    color: black;
}

button:focus {
    outline: none;
}

header {
    /* background-color: white; */
    background-color: azure;
    box-shadow: 10px 10px black;
    height: 80px;
    padding-top: 10px;
}

h1 {
    color: black;
    font-family: 'Nanum Pen Script', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 48pt;
    /* margin: 30px auto 10px auto; */
    font-weight: bolder;
}

img {
    width: 100%;
}

div {
    font-family: 'Space Mono', monospace;
    color: black;
    font-size: 18pt;
}

#box {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    /* background-color: rgba(255,255,255); */
    background-color: azure;
    padding: 25px;
    border: solid 3pt black;
    box-shadow: 10px 10px;
}

/* #boxbox {
    text-align: left;
    width: 80%;
    margin: auto;
} */


#currentword {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 60pt;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 5px;
}

#guesses {
    margin-top: 15px;
}

#video {
    display: none;
    margin-top: 10px;
}

#dance {
    display: none;
    margin-top: 25px;
}
